<%
  current_category_id = @current_category&.id
  is_selected = category.id == current_category_id
  is_ancestor = local_assigns[:current_categories]&.any? { |c| c.ancestor_ids.include?(category.id) }
  children_list = @category_children[category.id] || []
  has_children = children_list.any?
  is_expanded = is_selected || is_ancestor || local_assigns[:expanded]

  link_params = { org_slug: params[:org_slug], queries: params[:queries] }
  link_params[:category] = category.id unless is_selected
  link_params[:sort] = params[:sort] if params[:sort].present?
  count = @category_counts[category.id] || 0
%>

<li class="category-list-item" data-storefront-category-tree-target="item" data-category-id="<%= category.id %>">
  <%= link_to products_path(**link_params),
      class: "category-link #{'active' if is_selected}",
      data: has_children ? { action: "click->storefront-category-tree#toggleFromLink", storefront_category_tree_target: "parentLink" } : {} do %>
    <span class="category-link-name"><%= category.name %></span>
    <span class="category-link-right">
      <span class="category-count"><%= count %></span>
      <% if has_children %>
        <i class="fa-solid fa-chevron-right category-chevron <%= 'expanded' if is_expanded %>" data-storefront-category-tree-target="icon"></i>
      <% end %>
    </span>
  <% end %>

  <% if has_children %>
    <ul class="category-list category-children <%= 'collapsed' unless is_expanded %>"
        data-storefront-category-tree-target="children">
      <% children_list.each do |child| %>
        <%= render 'storefront/shared/category_tree_item', category: child, current_categories: local_assigns[:current_categories] %>
      <% end %>
    </ul>
  <% end %>
</li>
