<div class="card">
  <div class="left">
    <div class="qr-wrap"><%= qr_svg.html_safe %></div>
    <div class="cta">
      <div class="label"><%= t("bo.business_cards.pdf.cta_label") %></div>
      <div class="sub"><%= t("bo.business_cards.pdf.cta_sub") %></div>
    </div>
  </div>

  <div class="right">
    <div class="top">
      <div class="org-name"><%= organisation.name %></div>
      <% if logo_data = org_logo_data_url(organisation) %>
        <img class="org-logo" src="<%= logo_data %>" alt="">
      <% end %>
    </div>

    <div class="who">
      <div class="name"><%= t("bo.business_cards.pdf.headline") %></div>
      <% website_display = organisation.website_url.to_s.sub(%r{\Ahttps?://}i, "").sub(%r{/\z}, "") %>
      <% if website_display.present? %>
        <div class="company"><%= website_display %></div>
      <% end %>
    </div>

    <div class="contacts">
      <% [organisation.phone, organisation.whatsapp, organisation.contact_email].compact_blank.uniq.each do |line| %>
        <span class="row"><%= line %></span>
      <% end %>
    </div>
  </div>
</div>
