<nav class="bo-navbar">
  <!-- Hamburger menu - only visible when sidebar is collapsed -->
  <div class="bo-collapsed-menu dropdown">
    <button class="bo-collapsed-menu-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><%= link_to bo_path, class: "dropdown-item" do %><i class="fa-solid fa-chart-line me-2"></i><%= t('bo.sidebar.dashboard') %><% end %></li>
      <li><%= link_to bo_customers_path, class: "dropdown-item" do %><i class="fa-solid fa-users me-2"></i><%= t('bo.sidebar.customers') %><% end %></li>
      <li><%= link_to bo_products_path, class: "dropdown-item" do %><i class="fa-solid fa-box me-2"></i><%= t('bo.sidebar.products') %><% end %></li>
      <li><%= link_to bo_orders_path, class: "dropdown-item" do %><i class="fa-solid fa-clipboard-list me-2"></i><%= t('bo.sidebar.orders') %><% end %></li>
      <li><%= link_to bo_customer_product_discounts_path, class: "dropdown-item" do %><i class="fa-solid fa-percent me-2"></i><%= t('bo.sidebar.pricing') %><% end %></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to edit_bo_profile_path, class: "dropdown-item" do %><i class="fa-solid fa-circle-user me-2"></i><%= t('bo.sidebar.profile') %><% end %></li>
      <li><%= link_to bo_team_members_path, class: "dropdown-item" do %><i class="fa-solid fa-users-gear me-2"></i><%= t('bo.sidebar.team') %><% end %></li>
      <% if admin_or_owner? %>
        <li><%= link_to edit_bo_settings_path, class: "dropdown-item" do %><i class="fa-solid fa-gear me-2"></i><%= t('bo.sidebar.settings') %><% end %></li>
      <% end %>
      <li><%= link_to destroy_member_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %><i class="fa-solid fa-right-from-bracket me-2"></i><%= t('bo.sidebar.log_out') %><% end %></li>
    </ul>
  </div>

  <div class="bo-navbar-content justify-content-end">
    <div class="d-flex align-items-center gap-3">
      <span class="text-muted">
        <i class="fa-regular fa-building"></i>
        <%= @current_organisation.name %>
      </span>
      <!-- Language Switcher -->
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fa-solid fa-globe me-1"></i>
          <%= I18n.locale.to_s.upcase %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to update_locale_path(org_slug: params[:org_slug], locale: 'en'),
                        data: { turbo_method: :patch },
                        class: "dropdown-item #{'active' if I18n.locale == :en}" do %>
              <i class="fa-solid fa-check me-2 <%= 'invisible' unless I18n.locale == :en %>"></i><%= t('bo.navbar.languages.english') %>
            <% end %>
          </li>
          <li>
            <%= link_to update_locale_path(org_slug: params[:org_slug], locale: 'pt'),
                        data: { turbo_method: :patch },
                        class: "dropdown-item #{'active' if I18n.locale == :pt}" do %>
              <i class="fa-solid fa-check me-2 <%= 'invisible' unless I18n.locale == :pt %>"></i><%= t('bo.navbar.languages.portuguese') %>
            <% end %>
          </li>
          <li>
            <%= link_to update_locale_path(org_slug: params[:org_slug], locale: 'es'),
                        data: { turbo_method: :patch },
                        class: "dropdown-item #{'active' if I18n.locale == :es}" do %>
              <i class="fa-solid fa-check me-2 <%= 'invisible' unless I18n.locale == :es %>"></i><%= t('bo.navbar.languages.spanish') %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
          <i class="fa-regular fa-user me-1"></i>
          <%= current_member.first_name %> <%= current_member.last_name %>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to destroy_member_session_path, class: "dropdown-item", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-right-from-bracket me-2"></i><%= t('bo.navbar.sign_out') %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
