<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-item">
      <h3><%= t('sidebar.smart_pricing.title') %></h3>
      <p><%= t('sidebar.smart_pricing.description') %></p>
    </div>
    <div class="sidebar-item">
      <h3><%= t('sidebar.product_variants.title') %></h3>
      <p><%= t('sidebar.product_variants.description') %></p>
    </div>
    <div class="sidebar-item">
      <h3><%= t('sidebar.multi_currency.title') %></h3>
      <p><%= t('sidebar.multi_currency.description') %></p>
    </div>
    <div class="sidebar-item">
      <h3><%= t('sidebar.customer_management.title') %></h3>
      <p><%= t('sidebar.customer_management.description') %></p>
    </div>
    <div class="sidebar-item">
      <h3><%= t('sidebar.analytics_dashboard.title') %></h3>
      <p><%= t('sidebar.analytics_dashboard.description') %></p>
    </div>
    <div class="sidebar-item">
      <h3><%= t('sidebar.stock_inventory.title') %></h3>
      <p><%= t('sidebar.stock_inventory.description') %></p>
    </div>
  </div>
</div>
