<% credentials = erp_configuration.credentials %>
<% adapter_type = erp_configuration.adapter_type || 'custom_api' %>
<% schema = Erp::AdapterRegistry.credentials_schema(adapter_type) %>

<div data-erp-settings-target="credentialsFields">
  <% if schema.any? %>
    <div class="row g-3">
      <% schema.each do |field_name, config| %>
        <div class="col-md-6">
          <label class="form-label">
            <%= config[:label] %>
            <% if config[:required] %>
              <span class="text-danger">*</span>
            <% end %>
          </label>

          <% case config[:type] %>
          <% when :password %>
            <input type="password"
                   name="erp_configuration[credentials][<%= field_name %>]"
                   value="<%= credentials[field_name.to_s] %>"
                   class="form-control"
                   placeholder="<%= config[:placeholder] %>"
                   <%= 'required' if config[:required] %>>
          <% when :url %>
            <input type="url"
                   name="erp_configuration[credentials][<%= field_name %>]"
                   value="<%= credentials[field_name.to_s] %>"
                   class="form-control"
                   placeholder="<%= config[:placeholder] %>"
                   <%= 'required' if config[:required] %>>
          <% else %>
            <input type="text"
                   name="erp_configuration[credentials][<%= field_name %>]"
                   value="<%= credentials[field_name.to_s] || config[:default] %>"
                   class="form-control"
                   placeholder="<%= config[:placeholder] %>"
                   <%= 'required' if config[:required] %>>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-muted">Select an ERP system to configure credentials.</p>
  <% end %>
</div>
