<% credentials = erp_configuration.credentials %>
<% current_adapter = erp_configuration.adapter_type %>

<div data-erp-settings-target="credentialsFields">
  <% Erp::AdapterRegistry::ADAPTERS.each do |adapter_key, adapter_config| %>
    <% schema = adapter_config[:credentials] %>
    <div data-erp-settings-target="adapterCredentials"
         data-adapter-type="<%= adapter_key %>"
         class="<%= 'd-none' unless adapter_key == current_adapter %>">
      <div class="row g-3">
        <% schema.each do |field_name, config| %>
          <div class="col-md-6">
            <label class="form-label">
              <%= config[:label] %>
              <% if config[:required] %>
                <span class="text-danger">*</span>
              <% end %>
            </label>

            <% case config[:type] %>
            <% when :password %>
              <input type="password"
                     name="erp_configuration[credentials][<%= field_name %>]"
                     value="<%= credentials[field_name.to_s] if adapter_key == current_adapter %>"
                     class="form-control"
                     placeholder="<%= config[:placeholder] %>">
            <% when :url %>
              <input type="url"
                     name="erp_configuration[credentials][<%= field_name %>]"
                     value="<%= credentials[field_name.to_s] if adapter_key == current_adapter %>"
                     class="form-control"
                     placeholder="<%= config[:placeholder] %>">
            <% else %>
              <input type="text"
                     name="erp_configuration[credentials][<%= field_name %>]"
                     value="<%= adapter_key == current_adapter ? (credentials[field_name.to_s] || config[:default]) : config[:default] %>"
                     class="form-control"
                     placeholder="<%= config[:placeholder] %>">
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
