<div class="card dashboard__card" id="order-frequency">
  <div class="card-header">
    <h6 class="mb-0">
      <i class="fa-solid fa-rotate me-2 text-info"></i> <%= t('bo.dashboards.order_frequency.title') %>
    </h6>
  </div>
  <div class="card-body">
    <div class="frequency">
      <div class="frequency__stats">
        <div class="frequency__stat">
          <span class="frequency__label"><%= t('bo.dashboards.order_frequency.average') %></span>
          <span class="frequency__value">--</span>
          <span class="frequency__unit"><%= t('bo.dashboards.order_frequency.orders_per_client') %></span>
        </div>
        <div class="frequency__stat">
          <span class="frequency__label"><%= t('bo.dashboards.order_frequency.mean') %></span>
          <span class="frequency__mean">--</span>
        </div>
        <div class="frequency__stat">
          <span class="frequency__label"><%= t('bo.dashboards.order_frequency.median') %></span>
          <span class="frequency__median">--</span>
        </div>
      </div>
      <div class="frequency__chart-wrapper">
        <div class="frequency__chart"></div>
        <div class="frequency__chart-label"><%= t('bo.dashboards.order_frequency.distribution') %></div>
      </div>
    </div>
  </div>
</div>
